* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(../img/534cd4c90c780706d9fe7ab1e4039685.jpg);
}
section {
  padding-top: 100px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/mkdizsxh_Memory-Game-Templates.png);
  min-height: 500px;
}

.title {
  font-size: 40px;
  color: white;
  margin-bottom: 100px;
  background-color: rgba(117, 118, 118, 0.36);
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.button-container {
  padding: 10px 10px 10px 10px;
  margin-top: 100px;
}

#button {
  padding: 20px 20px 20px 20px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}

#numeri-random {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: rgba(247, 255, 255, 0.536);
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#timer {
  font-size: 30px;
  color: rgb(221, 9, 9);
  font-weight: bold;
  background-color: rgba(239, 239, 239, 0.601);
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#timeout {
  font-size: 30px;
  color: red;
  font-weight: bold;
  background-color: rgba(247, 255, 255, 0.694);
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#numeri-ricordati {
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(248, 248, 248, 0.676);
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}